name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

env:
  AR_HOST: europe-west1-docker.pkg.dev
  PROJECT_ID: housing-price-ml-e2e
  REPO_NAME: housing-price-ml-e2e
  REGION: europe-west1
  GCS_BUCKET: housing-price-ml-e2e-xcluo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/65985976686/locations/global/workloadIdentityPools/github-pool/providers/github-actions'
          service_account: 'housing-price-ml-service@housing-price-ml-e2e.iam.gserviceaccount.com'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: gcloud auth configure-docker ${{ env.AR_HOST }} --quiet

      - name: Build and Push housing-api
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          docker build -t ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-api:$IMAGE_TAG -f Dockerfile .
          docker push ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-api:$IMAGE_TAG
          docker tag ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-api:$IMAGE_TAG \
                     ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-api:latest
          docker push ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-api:latest

      - name: Build and Push housing-streamlit
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          docker build -t ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-streamlit:$IMAGE_TAG -f Dockerfile.streamlit .
          docker push ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-streamlit:$IMAGE_TAG
          docker tag ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-streamlit:$IMAGE_TAG \
                     ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-streamlit:latest
          docker push ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-streamlit:latest

      - name: Deploy housing-api to Cloud Run
        run: |
          gcloud run deploy housing-api \
            --image ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-api:${GITHUB_SHA} \
            --platform managed \
            --region ${{ env.REGION }} \
            --service-account housing-price-ml-service@housing-price-ml-e2e.iam.gserviceaccount.com \
            --set-env-vars GCS_BUCKET=${{ env.GCS_BUCKET }} \
            --min-instances=1 \
            --memory=2Gi \
            --cpu=2 \
            --allow-unauthenticated

      - name: Get API URL
        id: api-url
        run: |
          API_URL=$(gcloud run services describe housing-api --region=${{ env.REGION }} --project=${{ env.PROJECT_ID }} --format="value(status.url)")
          echo "api_url=$API_URL" >> $GITHUB_OUTPUT

      - name: Deploy housing-streamlit to Cloud Run
        run: |
          gcloud run deploy housing-streamlit \
            --image ${{ env.AR_HOST }}/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/housing-streamlit:${GITHUB_SHA} \
            --platform managed \
            --region ${{ env.REGION }} \
            --service-account housing-price-ml-service@housing-price-ml-e2e.iam.gserviceaccount.com \
            --set-env-vars API_URL=${{ steps.api-url.outputs.api_url }}/predict,GCS_BUCKET=${{ env.GCS_BUCKET }} \
            --min-instances=1 \
            --memory=2Gi \
            --cpu=2 \
            --allow-unauthenticated